 <h1><center>Car emission prediction</center></h1>

This dataset contains car emissions data for UK, which includes over 5,000 vehicles and their Emissions of August 2017.
![Cars](https://images.unsplash.com/photo-1492144534655-ae79c964c9d7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80)
[source](https://www.kaggle.com/dananos/car-emissions-data)

In [735]:
# import first
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
# change the style from the very beging
plt.style.use('ggplot')
%matplotlib inline

### First let's import our dataset and take a look to it.

In [736]:
dataset = pd.read_csv("data.csv",encoding='latin')
dataset.head()

,Manufacturer,Model,Description,Transmission,Engine Capacity,Fuel Type,Electric energy consumption Miles/kWh,wh/km,Maximum range (Km),Maximum range (Miles),...,Emissions NOx [mg/km],THC + NOx Emissions [mg/km],Particulates [No.] [mg/km],Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33
0,ALFA ROMEO,"MiTo Series 3, September 2016 Onwards",1.3 JTDm-2 95 bhp,M5,1248.0,Diesel,NaN,NaN,NaN,NaN,...,67.0,100.0,0.27,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BMW,"1 Series 3-door F21, From September 2012",116d ED Plus 16'' tyres,M6,1496.0,Diesel,NaN,NaN,NaN,NaN,...,37.0,66.0,0.14,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BMW,"1 Series 5-door F20, From September 2011",116d ED Plus 16'' tyres,M6,1496.0,Diesel,NaN,NaN,NaN,NaN,...,37.0,66.0,0.14,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,CITROEN,C4,BlueHDi 100 S&S,M5,1560.0,Diesel,NaN,NaN,NaN,NaN,...,55.0,74.0,0.42,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CITROEN,C4 Cactus,BlueHDi 100 S&S ETG6,AMT6,1560.0,Diesel,NaN,NaN,NaN,NaN,...,40.0,53.0,0.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [737]:
dataset.dtypes

Manufacturer                              object
Model                                     object
Description                               object
Transmission                              object
Engine Capacity                          float64
Fuel Type                                 object
Electric energy consumption Miles/kWh    float64
wh/km                                    float64
Maximum range (Km)                       float64
Maximum range (Miles)                    float64
Metric Urban (Cold)                      float64
Metric Extra-Urban                       float64
Metric Combined                          float64
Imperial Urban (Cold)                    float64
Imperial Extra-Urban                     float64
Imperial Combined                        float64
CO2 g/km                                   int64
Fuel Cost 12000 Miles                     object
Electricity cost                          object
Total cost / 12000 miles                  object
Euro Standard                              int64
Noise Level dB(A)                        float64
Emissions CO [mg/km]                     float64
THC Emissions [mg/km]                    float64
Emissions NOx [mg/km]                    float64
THC + NOx Emissions [mg/km]              float64
Particulates [No.] [mg/km]               float64
Unnamed: 27                              float64
Unnamed: 28                              float64
Unnamed: 29                              float64
Unnamed: 30                              float64
Unnamed: 31                              float64
Unnamed: 32                              float64
Unnamed: 33                              float64
dtype: object

In [738]:
dataset.isna().sum()

Manufacturer                                0
Model                                       0
Description                                 0
Transmission                               32
Engine Capacity                            30
Fuel Type                                   0
Electric energy consumption Miles/kWh    5037
wh/km                                    5037
Maximum range (Km)                       5037
Maximum range (Miles)                    5037
Metric Urban (Cold)                        81
Metric Extra-Urban                         81
Metric Combined                            30
Imperial Urban (Cold)                      81
Imperial Extra-Urban                       81
Imperial Combined                          30
CO2 g/km                                    0
Fuel Cost 12000 Miles                      30
Electricity cost                         5037
Total cost / 12000 miles                    0
Euro Standard                               0
Noise Level dB(A)                           0
Emissions CO [mg/km]                       30
THC Emissions [mg/km]                    2611
Emissions NOx [mg/km]                      30
THC + NOx Emissions [mg/km]              2536
Particulates [No.] [mg/km]               2529
Unnamed: 27                              5118
Unnamed: 28                              5118
Unnamed: 29                              5118
Unnamed: 30                              5118
Unnamed: 31                              5118
Unnamed: 32                              5118
Unnamed: 33                              5118
dtype: int64

In [739]:
dataset.describe()

,Engine Capacity,Electric energy consumption Miles/kWh,wh/km,Maximum range (Km),Maximum range (Miles),Metric Urban (Cold),Metric Extra-Urban,Metric Combined,Imperial Urban (Cold),Imperial Extra-Urban,...,Emissions NOx [mg/km],THC + NOx Emissions [mg/km],Particulates [No.] [mg/km],Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33
count,5088.000000,81.000000,81.000000,81.000000,81.000000,5037.000000,5037.000000,5088.000000,5037.000000,5037.000000,...,5088.000000,2582.000000,2589.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,1986.814465,8.002469,137.864198,169.580247,105.246914,6.905182,4.805579,5.544929,45.362220,61.687314,...,37.200865,79.331526,0.316748,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,806.608051,12.046514,54.757135,184.336368,114.566087,2.760090,1.214175,1.776506,12.862403,12.615114,...,21.062978,22.137153,0.340874,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,647.000000,2.300000,11.000000,30.000000,18.000000,0.000000,0.000000,0.600000,0.000000,0.000000,...,1.000000,19.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,1499.000000,3.400000,117.000000,39.000000,24.000000,5.200000,4.000000,4.400000,36.700000,53.300000,...,22.000000,67.000000,0.060000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,1968.000000,4.700000,132.000000,50.000000,31.000000,6.100000,4.500000,5.100000,46.300000,62.800000,...,35.000000,79.000000,0.200000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,1998.000000,5.300000,185.000000,280.000000,174.000000,7.700000,5.300000,6.100000,54.300000,70.600000,...,51.000000,93.000000,0.490000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,6752.000000,56.500000,269.000000,632.000000,393.000000,25.600000,12.100000,17.000000,97.400000,104.600000,...,726.000000,154.000000,3.050000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Cleaning and preprocessing:

### First we Will drop the rows only if all of the values in the row are missing:

In [740]:
dataset.dropna(how = 'all',inplace = True)

In [741]:
dataset.shape

(5118, 34)

# Handling the missing data
### Drop uneeded colmuns and columns with full null values more than 60%:

In [742]:
#we wiil drop columns which have null values
dataset=dataset.iloc[:,:25]
dataset.drop(['Electric energy consumption Miles/kWh','wh/km','Maximum range (Km)','Maximum range (Miles)','Description','Electricity cost','THC Emissions [mg/km]','Manufacturer','Model'] ,inplace=True, axis=1)
dataset.head()

,Transmission,Engine Capacity,Fuel Type,Metric Urban (Cold),Metric Extra-Urban,Metric Combined,Imperial Urban (Cold),Imperial Extra-Urban,Imperial Combined,CO2 g/km,Fuel Cost 12000 Miles,Total cost / 12000 miles,Euro Standard,Noise Level dB(A),Emissions CO [mg/km],Emissions NOx [mg/km]
0,M5,1248.0,Diesel,4.3,2.9,3.4,65.7,97.4,83.1,89,Â£807,Â£807,6,67.5,234.0,67.0
1,M6,1496.0,Diesel,3.9,3.1,3.4,72.4,91.1,83.1,89,Â£807,Â£807,6,68.0,119.0,37.0
2,M6,1496.0,Diesel,3.9,3.1,3.4,72.4,91.1,83.1,89,Â£807,Â£807,6,68.0,119.0,37.0
3,M5,1560.0,Diesel,3.7,3.1,3.3,76.3,91.1,85.6,86,Â£784,Â£784,6,68.8,272.0,55.0
4,AMT6,1560.0,Diesel,3.9,3.2,3.4,72.4,88.3,83.1,89,Â£807,Â£807,6,69.2,185.0,40.0

In [743]:
s=0
j=0
for i in range (0,5118,1):
    
    if dataset.loc[i,'Fuel Cost 12000 Miles']==dataset.loc[i,'Total cost / 12000 miles']:
        s+=1
    else:
        j+=1
        
print(s,j)

5037 81

In [744]:
dataset.drop(['Fuel Cost 12000 Miles'],inplace=True, axis=1)

In [745]:
#deleting 'Â£' from column (Total cost / 12000 miles) 
for i in range (0,5118,1):
    dataset.loc[i,'Total cost / 12000 miles']=dataset.loc[i,'Total cost / 12000 miles'][1:]
#deleting ',' from column (Total cost / 12000 miles) and convert object to string

dataset['Total cost / 12000 miles'] = dataset['Total cost / 12000 miles'].str.replace(",","").astype(float)

In [746]:
dataset.head()

,Transmission,Engine Capacity,Fuel Type,Metric Urban (Cold),Metric Extra-Urban,Metric Combined,Imperial Urban (Cold),Imperial Extra-Urban,Imperial Combined,CO2 g/km,Total cost / 12000 miles,Euro Standard,Noise Level dB(A),Emissions CO [mg/km],Emissions NOx [mg/km]
0,M5,1248.0,Diesel,4.3,2.9,3.4,65.7,97.4,83.1,89,807.0,6,67.5,234.0,67.0
1,M6,1496.0,Diesel,3.9,3.1,3.4,72.4,91.1,83.1,89,807.0,6,68.0,119.0,37.0
2,M6,1496.0,Diesel,3.9,3.1,3.4,72.4,91.1,83.1,89,807.0,6,68.0,119.0,37.0
3,M5,1560.0,Diesel,3.7,3.1,3.3,76.3,91.1,85.6,86,784.0,6,68.8,272.0,55.0
4,AMT6,1560.0,Diesel,3.9,3.2,3.4,72.4,88.3,83.1,89,807.0,6,69.2,185.0,40.0

## Handling the missing data
### we have two options : 
###    1. remove the row 
###    2. replace it by the mean

In [747]:
dataset.isna().sum()

Transmission                32
Engine Capacity             30
Fuel Type                    0
Metric Urban (Cold)         81
Metric Extra-Urban          81
Metric Combined             30
Imperial Urban (Cold)       81
Imperial Extra-Urban        81
Imperial Combined           30
CO2 g/km                     0
Total cost / 12000 miles     0
Euro Standard                0
Noise Level dB(A)            0
Emissions CO [mg/km]        30
Emissions NOx [mg/km]       30
dtype: int64

In [748]:
###  replace it by the mean 
dataset=dataset.fillna(dataset.mean())

In [749]:
dataset.isna().sum()

Transmission                32
Engine Capacity              0
Fuel Type                    0
Metric Urban (Cold)          0
Metric Extra-Urban           0
Metric Combined              0
Imperial Urban (Cold)        0
Imperial Extra-Urban         0
Imperial Combined            0
CO2 g/km                     0
Total cost / 12000 miles     0
Euro Standard                0
Noise Level dB(A)            0
Emissions CO [mg/km]         0
Emissions NOx [mg/km]        0
dtype: int64

## now we have the last nan values from Transmission by filling them with the common value of the column:

In [750]:
dataset['Transmission'].fillna(method='ffill', inplace=True)

### check nulls again:

In [751]:
dataset.isna().sum()

Transmission                0
Engine Capacity             0
Fuel Type                   0
Metric Urban (Cold)         0
Metric Extra-Urban          0
Metric Combined             0
Imperial Urban (Cold)       0
Imperial Extra-Urban        0
Imperial Combined           0
CO2 g/km                    0
Total cost / 12000 miles    0
Euro Standard               0
Noise Level dB(A)           0
Emissions CO [mg/km]        0
Emissions NOx [mg/km]       0
dtype: int64

## now we need to seperate the dependant and independent variables

In [752]:
features_matrix=dataset.drop(['Emissions NOx [mg/km]','Emissions CO [mg/km]'],axis=1)
goal_matrix=dataset.loc[:,['Emissions NOx [mg/km]','Emissions CO [mg/km]']]

In [753]:
features_matrix

,Transmission,Engine Capacity,Fuel Type,Metric Urban (Cold),Metric Extra-Urban,Metric Combined,Imperial Urban (Cold),Imperial Extra-Urban,Imperial Combined,CO2 g/km,Total cost / 12000 miles,Euro Standard,Noise Level dB(A)
0,M5,1248.0,Diesel,4.3,2.9,3.4,65.7,97.4,83.1,89,807.0,6,67.5
1,M6,1496.0,Diesel,3.9,3.1,3.4,72.4,91.1,83.1,89,807.0,6,68.0
2,M6,1496.0,Diesel,3.9,3.1,3.4,72.4,91.1,83.1,89,807.0,6,68.0
3,M5,1560.0,Diesel,3.7,3.1,3.3,76.3,91.1,85.6,86,784.0,6,68.8
4,AMT6,1560.0,Diesel,3.9,3.2,3.4,72.4,88.3,83.1,89,807.0,6,69.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5113,E-CVT,3456.0,Petrol Hybrid,7.3,6.0,6.5,38.7,47.1,43.5,148,1505.0,6,67.0
5114,E-CVT,3456.0,Petrol Hybrid,7.3,6.0,6.5,38.7,47.1,43.5,148,1505.0,6,67.0
5115,A7,3498.0,Petrol Hybrid,9.6,5.3,6.8,29.4,53.3,41.5,159,1577.0,6,69.0
5116,E-CVT,1998.0,Petrol Hybrid,9.6,5.9,7.3,29.4,47.9,38.7,168,1692.0,6,70.0
5117,E-CVT,1998.0,Petrol Hybrid,9.6,5.9,7.3,29.4,47.9,38.7,168,1692.0,6,70.0

## Handling Categorical Data 
### models prefer to deal with numbers rather than words if possible, that's what we are going to do now

In [754]:
# import the needed librarys
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
features_matrix['Transmission'] = encoder.fit_transform(features_matrix['Transmission'])

In [755]:
encoder = LabelEncoder()
features_matrix['Fuel Type'] = encoder.fit_transform(features_matrix['Fuel Type'])

In [756]:
#from sklearn.preprocessing import OneHotEncoder
#hot_encoder=OneHotEncoder()
#hot_encoder.fit_transform

In [757]:
# import the oneHotEncoder class
#from sklearn.preprocessing import OneHotEncoder
#oneHotEncoder = OneHotEncoder(categorical_features=[0])
#features_matrix= oneHotEncoder.fit_transform(features_matrix).toarray()
#features_matrix[:, :3]

## Now we need to split our data to train and test data ..

In [758]:
features_matrix=dataset[['Metric Extra-Urban']]

In [759]:
# import the modules 
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(features_matrix, goal_matrix['Emissions NOx [mg/km]'], test_size = 0.2, random_state = 0)
x_train2, x_test2, y_train2, y_test2 = train_test_split(features_matrix, goal_matrix['Emissions CO [mg/km]'], test_size = 0.2, random_state = 0)

## It's better to scale/standardize our features value, so that they have the same scale

# try with standard scaler

In [760]:
# import the library we need from our beloved sklearn !
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)
x_train2 = scaler.fit_transform(x_train2)
x_test2 = scaler.transform(x_test2)

In [761]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

model = LinearRegression()
model.fit(x_train, y_train)
model.fit(x_train2, y_train2)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [762]:
print(mean_squared_error(y_train, model.predict(x_train)))
model.score(x_train, y_train)

51640.62539593175

-148.23119710904115

In [763]:
print(mean_squared_error(y_train2, model.predict(x_train2)))
model.score(x_train2, y_train2)

18364.595557340486

0.06694281154525117

In [764]:
x_test = scaler.transform(x_test)
print(mean_squared_error(y_test, model.predict(x_test)))
model.score(x_test, y_test)

8173.079382541427

-8.961760238996362

In [765]:
x_test2 = scaler.transform(x_test2)
print(mean_squared_error(y_test2, model.predict(x_test2)))
model.score(x_test2, y_test2)

40814.97485637621

-1.0178237841705307

# try with Min-Max Scaler

In [766]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(features_matrix, goal_matrix['Emissions NOx [mg/km]'], test_size=.2, random_state=0)
x_train2, x_test2, y_train2, y_test2 = train_test_split(features_matrix, goal_matrix['Emissions CO [mg/km]'], test_size = 0.2, random_state = 0)

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(x_train)
x_train = scaler.transform(x_train)
scaler.fit(x_train2)
x_train2 = scaler.transform(x_train2)

In [767]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

model = LinearRegression()
model.fit(x_train, y_train)
model.fit(x_train2, y_train2)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [768]:
print(mean_squared_error(y_train, model.predict(x_train)))
model.score(x_train, y_train)

51640.625395931726

-148.2311971090411

In [769]:
print(mean_squared_error(y_train2, model.predict(x_train2)))
model.score(x_train2, y_train2)

18364.595557340483

0.06694281154525139

In [770]:
x_test = scaler.transform(x_test)
print(mean_squared_error(y_test, model.predict(x_test)))
model.score(x_test, y_test)

52367.72637277434

-62.8284188822756

In [771]:
x_test2 = scaler.transform(x_test2)
print(mean_squared_error(y_test2, model.predict(x_test2)))
model.score(x_test2, y_test2)

18409.44961329826

0.08986774060454883

# try without any scaler

In [772]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(features_matrix, goal_matrix['Emissions NOx [mg/km]'], test_size=.2, random_state=0)
x_train2, x_test2, y_train2, y_test2 = train_test_split(features_matrix, goal_matrix['Emissions CO [mg/km]'], test_size=.2, random_state=0)

In [773]:
model = LinearRegression()
model.fit(x_train, y_train)
model.fit(x_train2, y_train2)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [774]:
print(mean_squared_error(y_train, model.predict(x_train)))
model.score(x_train, y_train)

51640.62539593173

-148.23119710904112

In [775]:
print(mean_squared_error(y_train2, model.predict(x_train2)))
model.score(x_train2, y_train2)

18364.595557340483

0.06694281154525139

In [776]:
print(mean_squared_error(y_test, model.predict(x_test)))
model.score(x_test, y_test)

52367.726372774356

-62.82841888227562

In [777]:
print(mean_squared_error(y_test2, model.predict(x_test2)))
model.score(x_test2, y_test2)

18409.44961329826

0.08986774060454883